<div class = "category-index-padding">
  <div class = "container">
    <div class="card">
      <div class="row">
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-info">
              <div class="card-header">
                <h5><%= t "admin.order.pending" %></h5>
              </div>
              <div class="card-body">
                <h3><%= @orders.Pending.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-primary">
              <div class="card-header">
                <h5><%= t "admin.order.shipping" %></h5>
              </div>
              <div class="card-body">
                <h3><%= @orders.Shipping.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-success">
              <div class="card-header">
                <h5><%= t "admin.order.delivered" %></h5>
              </div>
              <div class="card-body">
                <h3><%= @orders.Delivered.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-warning">
              <div class="card-header">
                <h5><%= t "admin.order.canceled" %></h5>
              </div>
              <div class="card-body">
                <h3><%= @orders.Canceled.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-danger">
              <div class="card-header">
                <h5><%= t "admin.order.rejected" %></h5>
              </div>
              <div class="card-body">
                <h3><%= @orders.Rejected.size %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class = "container">
    <div class="card">
      <div class="card-header">
        <h1><%= t "admin.order.orders" %></h1>
      </div>
      <div class="row">
        <%= search_form_for @search, url: admin_orders_path, html: { class: "form-inline col-md-8 col-md-offset-1", method: :get } do |f| %>
          <div class="row">
            <div class="col">
              <%= f.label t("ransack.create_day") %>
              <%= f.date_field :updated_at_eq %>
            </div>
            <div class="col">
              <%= f.label t("ransack.from_date") %>
              <%= f.date_field :updated_at_gteq %>
            </div>
            <div class="col">
              <%= f.label t("ransack.to_date") %>
              <%= f.date_field :updated_at_lteq %>
            </div>
            <div class="col">
              <%= f.label t("ransack.customer_name") %>
              <%= f.search_field :user_name_cont %>
            </div>
            <div class="col" id="search-submit-padding">
              <%= f.submit t("ransack.search"), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
        <div class="col" id="clear-submit-padding">
          <div class="container">
            <button id="clear-btn" class= "btn btn-outline-secondary"><%= t "ransack.clear" %></button>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body">
        <table class = "table table-striped">
          <thead>
            <tr>
              <th><%= t "admin.order.id" %></th>
              <th><%= t "admin.order.customer" %></th>
              <th><%= t "admin.order.date" %></th>
              <th><%= t "admin.order.amount" %></th>
              <th><%= t "admin.order.status" %></th>
              <th><%= t "admin.order.action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "admin/orders/order", collection: @orders.includes([:user]), as: :order %>
          </tbody>
        </table>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
