<%= form_for [:admin, @category] do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %><%= t "admin.category.error" %></h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="control-group">
    <%= form.label t("admin.category.parent"), class: "control-label" %>

    <%= form.select(:parent_id, parent_category(@categories)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
