<%= search_form_for @q, url: admin_products_path,
                        html: { method: :get } do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= link_to t("admin.product.new_product"), new_admin_product_path, class: "btn btn-outline-success", style: "min-width: 20%" %>
      </div>
      <div class="col-sm">
        <%= search_form_for @q, url: admin_products_path,
                        html: { method: :get } do |f| %>
          <%= f.search_field :product_cont %>
          <%= f.submit t("submit"), class: "btn btn-primary"%>
        <% end %>
      </div>
      <div class="col-sm">
        <div class="dropdown">
          <button class="dropbtn"><%= t("static_pages.filter") %></button>
          <div class="dropdown-content">
            <%= link_to t("admin.product.filter.oldest"), admin_products_path(q: {s: "created_at asc"}) %>
            <%= link_to t("admin.product.filter.newest"), admin_products_path(q: {s: "created_at desc"}) %>
            <%= link_to t("admin.product.filter.uncate"), admin_products_path(q: {"category_id_null" => "true"}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
