<div class="container">
  <div class="dropdown">
    <button class="dropbtn"><%= t("static_pages.filter") %></button>
    <div class="dropdown-content">
      <%= sort_link(@q, :created_at, 'Newest', default_order: :asc) %>
      <%= sort_link(@q, :created_at, 'Oldest', default_order: :desc) %>
      <%= sort_link(@q, :price, 'Cheapest', default_order: :asc) %>
      <%= sort_link(@q, :price, 'Most Expensive', default_order: :desc) %>
    </div>
  </div>
</div>
<div class="container">
  <% if @q.result.any? %>
    <% if !@name.nil?%>
      <% if @name.keys.first == "name_cont"%>
        <% if !@name.nil? %>
          <div>
            <strong>
              <p> <%= t("static_pages.search_result")+@name.values.first %></p>
            </strong>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= render @products %>
    <div class="clearfix"></div>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% else %>
    <h2 class="alert alert-danger">
      <%= t "static_pages.product_not_found" %>
    </h2>
  <% end %>
</div>
